* {
  box-sizing: border-box;
}

body,
html {
  font-family: "Space Mono", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #4f4f4f;
  letter-spacing: -0.035em;
  margin: 0;
  padding: 0;
}

.main-title {
  font-weight: 700;
  font-size: 48px;
  color: #333333;
  width: 350px;
  height: 142px;
  word-spacing: 1.5rem;
  margin-left: 20px;
}

.header-title {
  text-transform: uppercase;
  font-family: "Inconsolata", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.04;
  letter-spacing: -0.08em;
  color: #333333;
  word-spacing: 0.5rem;
  width: 185px;
  height: 25px;
  margin: 20px 0 64px 24px;
}

button {
  width: 216px;
  height: 68px;
  font-weight: 700;
  background: #333;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  padding: 0;
  margin: 66px 0 0 20px;
}

button:hover {
  cursor: pointer;
  text-decoration: underline;
}

button a {
  text-decoration: none;
  color: #ffffff;
}

footer {
  color: #bdbdbd;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  position: absolute;
  bottom: 0;
  padding: 24px 0;
  width: 100%;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #bdbdbd;
}

footer a:hover {
  text-decoration: underline;
}

em {
  font-style: normal;
  font-weight: 700;
}

img {
  width: 286px;
  height: 238px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  width: 330px;
  height: 80px;
  word-spacing: 0.85rem;
  display: flex;
  margin-left: 20px;
}

@media screen and (min-width: 768px) {
  img {
    width: 540px;
    height: 445px;
    margin: 0 120px 0 77px;
    float: left;
  }

  .header-title {
    margin: 40px 0 120px 77px;
  }

  .main-title {
    margin-bottom: 36px;
    width: 586px;
    height: 190px;
    font-size: 64px;
    display: flex;
  }

  p {
    margin-bottom: 70px;
    width: 287px;
  }
}
